import React from "react"

export type {{ pascalCase name }}Props = {
  
}

const {{ pascalCase name }} = (props: {{ properCase name }}Props) => {
  return (
    <div></div>
  )
}

export { {{ pascalCase name }} }
